*.swp
*.swo
*~
.DS_Store
target
boot
tags
lib_managed
*.iml
.bsp
.idea
/.sbtconfig
/tmtags
*.log
.ensime
.ensime_lucene
.tags
*.sublime-project
*.sublime-workspace
plugins-ide.sbt
/data/
src_managed
*.deb
*.changes
*.worksheet.sc 
metals.sbt 
.vscode 
.metals 
.bloop 
